.card {
  background: #84a98c;
}

.card .card-top {
  background: #354f52;
  text-align: center;
  padding: 20px 20px 40px 20px;
}

.card .card-top h1 {
  color: #fff;
  font-size: 170px;
  margin: 0;
}

.card .card-bottom {
  color: #2d2d2d;
  padding: 40px;
}

.card .card-bottom .title {
  align-items: center;
  display: flex;
  min-height: 130px;
}

.card .card-bottom h2 {
  margin: 0;
  vertical-align: middle;
}

.card .card-bottom p {
  font-weight: 500;
  text-align: justify;
}

.card .card-bottom .specs {
  background: #cad2c5;
  border-radius: 10px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin: 20px 0 0 0;
  height: 215px;
  padding: 20px;
  list-style: none;
  transition: 0.2s box-shadow;
  align-items: center;
  display: flex;
}

.card .card-bottom .spec:hover {
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.5);
}

.card .card-bottom ul {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.card .card-bottom ul li {
  margin-bottom: 15px
}

.card .card-bottom ul li b {
  text-transform: uppercase;
}

.card .card-bottom ul li:nth-last-child(-n+1) {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .card .card-bottom .specs,
  .card .card-bottom .title {
    height: inherit;
    min-height: inherit;
  }
}