.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 33% 33% 33%;
  max-width: 1000px;
  margin: 50px auto 0 auto;
}

@media (min-width: 1920px) {
  .container {
    grid-template-columns: 20% 20% 20% 20% 20%;
    max-width: min-content;
  }
}

@media (max-width: 1920px) and (min-width: 1440px) {
  .container {
    grid-template-columns: 25% 25% 25% 25%;
    max-width: min-content;
  }
}

@media (max-width: 1440px) and (min-width: 1100px) {
  .container {
    max-width: min-content;
  }
}

@media (max-width: 1100px) and (min-width: 768px) {
  .container {
    grid-template-columns: 50% 50%;
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 100%;
    max-width: 320px;
  }
}